<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel='icon' href="/img/icon.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website is created by Ashraf Khan. It uses data from mapbox.com and weatherstack.com!!</p>
            <img class='peaky' src="/img/about.jpg" alt="peaky blinder">
        </div>
        {{>footer}}
        
    </body>
</html>